<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="login_style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo Bhai 2">
    <script src="../images/login.js"></script>

</head>

<body>
    <div class="page">
        <div class="welcome">
            <h1>WELCOME</h1>
            <p>Unlock a World of Opportunities.<br> Login to Your College Journey.</p>
        </div>
        <div class="form">
            <form id="inform" action="/login/submit" method="post">
                //- <label class="labels"for="username">Username:</label>
                <input class="input" type="text" name="username" id="username" placeholder="Username" required>
                <br>
                //- <label class="labels"for="password">Password:</label>
                <input class="input" type="password" name="password" id="password" placeholder="Password" required>
                <br>
                //- <label class="labels"for="phone">Phone Number:</label>
                //- <input class="input" type="tel" name="phone" id="phone" placeholder="Phone number" required>
                //- <br>
                //- //- <label class="labels"for="email">Email:</label>
                //- <input class="input" type="email" name="email" id="email" placeholder="Email ID" required>
                //- <br>
                <button class="form-submit-button" type="submit">Sign Up</button>
            </form>
            <div>
                <a href="/signup">CREATE NEW ACCOUNT</a>
            </div>
        </div>

        
    </div>
    
    

    
</body>

</html>