doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Thank You
    link(rel="stylesheet", type="text/css", href="/styles/style.css")
  body
    h1 Thank You for Submitting the Form
    p Your information has been successfully submitted.
    p You can view the list of existing users by clicking
    div 
        a(href="/users") uesers
    div 
        a(href="/college_data") college_data
    div 
        a(href="/") home.

